body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*----------------------------------------------*/

.navbar-brand {
    font-family: 'Tangerine', serif;
    font-size: 35px;
     
    
       
}

h2,h1,h3 {
    color: #708FB2;

}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    background-color: #80bfff;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    background-color: #80bfff;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: #80bfff;
}


.navbar-inverse {
    background-color: #80bfff;
    border-color: #80bfff;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

th {
    color: #428bca;
}

